<div class="header">
    <div [ngClass]="{'selected': movieSelected}" (click)="selectTab('film')">
        Film
    </div>
    <div [ngClass]="{'selected': serieSelected}" (click)="selectTab('serie')">
        Série
    </div>
    <div [ngClass]="{'selected': bookSelected}" (click)="selectTab('book')">
        Livre
    </div>
    <div [ngClass]="{'selected': gameSelected}" (click)="selectTab('game')">
        Jeu vidéo
    </div>
</div>
<div *ngFor="let asso of productsRelated">
    <div *ngIf="movieSelected && containsMovie">
        <div class="content" *ngIf="asso.productB && asso.productB.type === 'film'">
            <div class="image">
                <img src="{{asso.productB.image}}">
            </div>
            <div class="infos">
                <div class="title">
                    {{asso.productB.titleShort}}
                </div>
                <p class="description">
                    {{asso.productB.descShort}}
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="serieSelected && containsSerie">
        <div class="content" *ngIf="asso.productB && asso.productB.type === 'serie'">
            <div class="image">
                <img src="{{asso.productB.image}}">
            </div>
            <div class="infos">
                <div class="title">
                    {{asso.productB.titleShort}}
                </div>
                <div class="description">
                    {{asso.productB.descShort}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="bookSelected && containsBook">
        <div class="content" *ngIf="asso.productB && asso.productB.type === 'book'">
            <div class="image">
                <img src="{{asso.productB.image}}">
            </div>
            <div class="infos">
                <div class="title">
                    {{asso.productB.titleShort}}
                </div>
                <div class="description">
                    {{asso.productB.descShort}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="gameSelected && containsGame">
        <div class="content" *ngIf="asso.productB && asso.productB.type === 'game'">
            <div class="image">
                <img src="{{asso.productB.image}}">
            </div>
            <div class="infos">
                <div class="title">
                    {{asso.productB.titleShort}}
                </div>
                <div class="description">
                    {{asso.productB.descShort}}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!containsGame && gameSelected" class="content">
    <button (click)="addProduct()">Ajouter un jeu</button>
</div>
<div *ngIf="!containsSerie && serieSelected" class="content">
    <button (click)="addProduct()">Ajouter une série</button>
</div>
<div *ngIf="!containsMovie && movieSelected" class="content">
    <button (click)="addProduct()">Ajouter un film</button>
</div>
<div *ngIf="!containsBook && bookSelected" class="content">
    <button (click)="addProduct()">Ajouter un livre</button>
</div>