<div class="header">
    <div [ngClass]="{'selected': movieSelected}" (click)="selectTab('movie')">
        Movie
    </div>
    <div [ngClass]="{'selected': bookSelected}" (click)="selectTab('book')">
        Book
    </div>
    <div (click)="selectTab('tv')">
        TVShow
    </div>
    <div (click)="selectTab('game')">
        Game
    </div>
</div>
<div *ngFor="let asso of productsRelated">
    <div class="content" *ngIf="movieSelected && asso.productDTO.type === 'movie'">
        <div class="image">
            <img src="{{asso.productDTO.image}}">
        </div>
        <div class="infos">
            <div class="title">
                {{asso.productDTO.titleShort}}
            </div>
            <p class="description">
                {{asso.productDTO.descShort}}
            </p>
        </div>
    </div>

    <div class="content" *ngIf="bookSelected && asso.productDTO.type === 'book'">
        <div class="image">
            <img src="{{asso.productDTO.image}}">
        </div>
        <div class="infos">
            <div class="title">
                {{asso.productDTO.titleShort}}
            </div>
            <div class="description">
                {{asso.productDTO.descShort}}

            </div>
        </div>

    </div>
</div>