<!-- 
<div *ngIf="auth.isAuthenticated()">
<h1 class="title">{{title}}</h1>
	Hello {{user.lastName}}
</div> -->
<app-header [user]="user" (isMovieSearched)="loadMoviePage($event)"></app-header>
<div *ngIf="user" class="welcome">
	Bienvenue {{user.firstName}} !
</div>
<!-- <button (click)="goToProducts()">see products</button> -->

<div *ngIf="associations && associations. length > 0" class="lastAssos">
	<h2>Dernières associations</h2>

	<div class="list">
		<div class="item inline" *ngFor="let asso of associations" >
<!--			TODO
<div class="images block">
				<img src="{{getProductImage(asso.association.idProduitA, asso.association.idfournA)}}">
				<img src="{{getProductImage(asso.association.idProduitB, asso.association.idfournB)}}">
			</div>
			<div class="titles block">
				<span (click)="goTo(asso.association.idProduitA)">{{getProductName(asso.association.idProduitA, asso.association.idfournA)}}</span> et
				<span (click)="goTo(asso.association.idProduitB)">{{getProductName(asso.association.idProduitB, asso.association.idfournB)}}</span>
			</div>-->
			{{asso.association.idProduitA}} <!-- + {{getProductName(asso.association.idProduitA, asso.association.idfournA)}}-->
		</div>
	</div>

</div>

<div *ngIf="associations.length == 0" class="lastAssos">
	<h3>Aucune association pour le moment...</h3>
</div>

