#login {
    margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
.welcome {
  font-size: 1.8em;
  margin-bottom: 20px;
  padding: 15px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
  width: 30%;
  height: 10%;
}

.lastAssos {
  margin: 0 auto;
  width: 50%;
  margin: 50px;
}
