.content {
  display:flex;
  padding:15px;
}


  .related {
    height: 40vh;
    max-width: 35vw;
    margin-left:20px;
    background-color: #ececec;
    // border-radius: 10px;
    overflow: hidden;
  }

