.content {
  display:flex;
  padding:15px;
      .tag{
        > * {
          display: block;
          input {
            background-color : white;
          }
        }
      }
      .tag{
        > * {
          display: block;
          input {
            background-color : white;
          }
        }
      }

  .related {
    height: 40vh;
    max-width: 35vw;
    margin-left:20px;
    background-color: #ececec;
    // border-radius: 10px;
    overflow: hidden;
  }

}
