<div class="displayBadges" >
<h1>{{title}}</h1>
  <ul>
    <li *ngFor="let badge of badges" [ngClass]="{'disabled' : badge.status==2}" >
    <img height="100px" width="50px" [src]="badge.imgUrl">
    <p class="intitule">{{badge.description}}</p>
    <div *ngIf="badge.applyOn === 'association'">
      <div class="libelle">{{badge.seuil}} </div> associations
    </div>
    <div *ngIf="badge.applyOn === 'commentaire'">
        <div class="libelle">{{badge.seuil}} </div> commentaires
      </div>
    </li>
  </ul>
</div>
