
.displayBadges {
  ul {
    margin: 0;
    padding: 0;
    width: auto; 
    height: auto;

    li {
      background: rgba(114, 50, 34, 0.671);
      padding: 1em;
      border-radius: 10px;
      margin-bottom: 4px;
      display: flex;
      grid-template-columns: 70px auto ;
  
      .intitule {
          font-weight: bold;
          font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
          font-size: 19px;
          letter-spacing: 4px;
          word-spacing: 0px;
          color: #000000;
          text-align: center;
          margin-left: 20px;
          margin-top: 30px;
      }
      .libelle{
        display: grid;
        margin-left: 30px;
        margin-top: 35px;
        text-align: center;
        
      }
      img {
          border-radius: 100%;
          
      }
      .imageHidden
      {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
      }
      .imgHidden:hover
      {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);
      }
    } 
  }
 }