
#popover {
    padding: 50px;
    background-color: white;
    margin: 0 auto;
    width: 60%;
    border: solid #7c0000;
    margin-top: 10px;
    border-radius: 10px;
}

.username {
    color: #7c0000;
}

.date {
    color: gray;
    font-size: 10px;
}

.note {
    text-align: left;
    cursor: auto;
    color: gray;

    .selected {
        color: black;
        cursor: pointer;
    }
}

.popoverTitle {
    font-size: 35px;
}

.url {
    text-decoration: underline;
    cursor: pointer;
}

.signalement-container, .update-container {
    display: flex;
    flex-direction: column;
}

.signalement-container > *, .update-container > *, .addComment > * {
    width: 100%;
}
