
<div id="popover" >
  <h2 (click)="goTo(asso.productDTO.id)" class="popoverTitle">{{asso.productDTO.title}} </h2>
  <form>
    <mat-form-field >
      <mat-label>Votre commentaire</mat-label>
      <textarea matInput
                [formControl]="commentContent"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <mat-error *ngIf="commentContent.hasError('maxlength')">
      250 lettres maximum.
    </mat-error>
    <button mat-raised-button (click)="addComment()">Soumettre</button>
    <span *ngIf="load"><mat-spinner>
<!--    <app-progress-spinner class="example-margin" [backdropEnabled]="true" [positionGloballyCenter]="true">
</app-progress-spinner>-->
    </mat-spinner></span>
  </form>
  <div class="comments">
    <mat-list>
      <mat-list-item *ngFor="let comment of asso.comments">
        <!-- <img matListAvatar src="..." alt="...">-->
        <h3 matLine><span class="username" (click)="goToUserProfile(comment.iduser)">{{comment.iduser}}</span>&nbsp;&nbsp;
          <span class="date">{{comment.updatedate}}</span></h3>
        <p class="content" matLine> {{comment.commentaire}} </p>
        <span class="note" matLine><mat-icon (click)="riseNoteComment(comment)">thumb_up_alt</mat-icon>{{comment.note}}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
