
#popover {
    padding: 50px;
    /*background-color: white;*/
    /*margin: 0 auto;*/
    /*width: 100px;*/
}

.username {
    color: maroon;
}

.date {
    color: gray;
    font-size: 10px;
}

.note {
    text-align: left;
}

.popoverTitle {

}

.url {
    text-decoration: underline;
    cursor: pointer;
}

.signalement-container, .update-container {
    display: flex;
    flex-direction: column;
}

.signalement-container > *, .update-container > * {
    width: 100%;
}
