.content {
  background-color: #ececec; 
  .main {
    width: 60vw;
    height:40vh;
    // border-radius: 10px;
    display:flex;
    .image {
      img {
        height: 200px;
        margin: 30px;
      }
    }
    .infos {
      display:block;
      height: 98%;
      overflow: hidden;
      .title {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .author {
        margin-bottom: 20px;
      }
    }

  }
  .tag{
    > * {
      width:50%;
      display: block;
      input {
        background-color : white;
      }
    }
  }
  .tag{
    > * {
      width:50%;
      display: block;
      input {
        background-color : white;
      }
    }
  }
}