<div *ngIf="mainProduct" class="content">
    <div class="main">
        <div class="image">
            <img src="{{mainProduct.image}}">
        </div>
        <div class="infos">
            <div class="title">
                {{ mainProduct.title }}
            </div>
            <div class="author">
                {{mainProduct.director}}
                -
                {{mainProduct.year}}
                -
                {{mainProduct.country}}
            </div>
            <div class="description">
                {{ mainProduct.descShort }}
            </div>
            <div class="tag">
                    <button (click)="setInputFVisibility(true)">Ajouter un tag</button>
                    <div *ngIf="showInput" class="tag-content">
                        <input type="text" placeholder="Ajouter un tag" #tagInput>
                        <div class="sub"(click)="submit()"> > </div>
                        <!-- <mat-autocomplete #auto="matAutocomplete"> 
                                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                                    {{tag}} 
                                </mat-option> 
                            </mat-autocomplete>  -->
                    </div>
                    <p *ngIf="displayConfirmation">Merci ! Votre demande a été prise en compte.</p>
                </div>
                <div class="tags" *ngIf="tags && tags.length > 0">
                    <span> Tags : </span>
                    <span *ngFor="let tag of tags" class="item">
                        {{tag.value}}
                    </span>
                </div>
        </div>

    </div>

    <br>
    <br>
    <!-- <div class="tag" *ngIf="!tags || tags.length === 0">
                <button (click)="setInputFVisibility(true)" >Ajouter un tag</button>
                <div *ngIf="showInput" class="tag-content"> 
                    <input type="text" placeholder="Ajouter un tag" #tagInput> <div (click)="submit()">Confirm</div>
                   <mat-autocomplete #auto="matAutocomplete"> 
                        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                            {{tag}} 
                        </mat-option> 
                    </mat-autocomplete>  
                </div>
                <p *ngIf="displayConfirmation">Your request is being processed</p>
            </div> -->
</div>