<div class="login">
	
	<img src="/assets/images/logo.PNG"/>
	
	<form (ngSubmit)="signIn()">
        <div class="credentials">
        	<input type="email" placeholder="Adresse mail" name="email" required>
        	<input type="password" placeholder="Mot de passe" name="password" required>
		</div>
		
		<span ><a href="#">Mot de passe oublié ?</a></span>
		<br>
		<br>
        <button type="submit">Connexion</button>
     </form>
     <br>
	 <br>
     <span class="subscribe" (click)="displaySubscribe()" >Vous n'avez pas de compte ? Inscrivez vous ici ></span>
</div>

<div id="subscribe" class="modal">
  
  <!-- Modal Content -->
  <form class="modal-content animate" (ngSubmit)="signUp()">
	
	<span (click)="closeSubscribe()" class="close">&times;</span>
    	
		<h1 class="title">{{title}}</h1>		
		<br>
		<br>
		<br>
		<br>
    
      <label for="usename"><b>Votre nom d'utilisateur</b></label>
      <input type="text" placeholder="Mot de passe" name="usename" required>
      
      <label for="mail"><b>Votre adresse mail</b></label>
      <input type="text" placeholder="Ecrivez votre adresse mail" name="mail" required>

      <label for="psw"><b>Votre mot de passe</b></label>
      <input type="password" placeholder="Mot de passe" name="psw" required>
      
      <label for="psw"><b>Confirmation du mot de passe</b></label>
      <input type="password" placeholder="Mot de passe" name="psw" required>

      <button type="submit">S'inscrire</button>

  </form>
</div>