<body><div class="login">
	<div class="">
	    <div class="">
	        <img src="/assets/images/logo.png"/>
	    </div>
		
		<div>
			<form>
				<button id="qsLoginBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="!auth.isAuthenticated()" (click)="logIn()" type="button">
					<h3 class="text-center">
				            Authentification
					</h3>
	        	</button>
				<p class="text-right">
					<a href="">Besoin d'aide sur l'authentification ?</a>
				</p>
	        </form>
		</div>         
	
		<hr>
	</div>
	<div class="informations text-center">
		<h3>Informations</h3>
		<p class="infos">
			Projet réalisé dans le cadre de l'UE Projet, Agilité et Innovation. 
		</p>
	</div>
	<hr>
	<div id="copy" class="text-center">Copyright © 2019 <a href="http://www.univ-lille.fr">Université de Lille</a></div>
	
</div> 










<!-- <div class="login">
	
	<img src="/assets/images/logo.PNG"/>
	
	<form (ngSubmit)="signIn()">
        <div class="credentials">
        	<input type="email" placeholder="Adresse mail" name="email" required>
        	<input type="password" placeholder="Mot de passe" name="password" required>
		</div>
		
		<span ><a href="#">Mot de passe oublié ?</a></span>
		<br>
		<br>
        <button type="submit">Connexion</button>
     </form>
     <br>
	 <br>
     <span class="subscribe" (click)="displaySubscribe()" >Vous n'avez pas de compte ? Inscrivez vous ici ></span>
</div>

<div id="subscribe" class="modal">
  
  <form class="modal-content animate" (ngSubmit)="signUp()">
	
	<span (click)="closeSubscribe()" class="close">&times;</span>
    	
		<h1 class="title">{{title}}</h1>		
		<br>
		<br>
		<br>
		<br>
    
      <label for="usename"><b>Votre nom d'utilisateur</b></label>
      <input type="text" placeholder="Mot de passe" name="usename" required>
      
      <label for="mail"><b>Votre adresse mail</b></label>
      <input type="text" placeholder="Ecrivez votre adresse mail" name="mail" required>

      <label for="psw"><b>Votre mot de passe</b></label>
      <input type="password" placeholder="Mot de passe" name="psw" required>
      
      <label for="psw"><b>Confirmation du mot de passe</b></label>
      <input type="password" placeholder="Mot de passe" name="psw" required>

      <button type="submit">S'inscrire</button>

  </form>
</div>
-->
</body>