<!-- <div *ngIf="user" class="welcome">
	Hello {{user.pseudo}} !
</div> -->
<!-- <div *ngIf="user" class="content">
<div class="profile">
	<div class="display">
		
	</div>
</div>
</div> -->
<!-- Display the profile-information -->

<!-- Display the profile-infos -->
<div *ngIf="user" class="profile-infos">
	<img height="100px" src="{{user.picture}}" />
	<div class="username">
		<span>{{user.pseudo}}</span>
	</div>
	<button  mat-raised-button *ngIf="!otherUser"(click)="openDialog()" class="editbutton" >Editer le profil</button>

	<!-- Display the profile-progess -->
	<!-- <div class="profile-progress">
	<div class="progress-bar" [ngStyle]="{'width': profileProgress.fullProgress}"></div>
	<div class="progress" [ngStyle]="{'width': profileProgress.userProgress}"></div>
</div> -->

	<div *ngIf="otherUser && !follows">
		<button class="subscription" (click)="follow(user)">S'abonner</button>
	</div>
	<div *ngIf="otherUser && follows">
		<button class="unsubscription" (click)="unFollow(user)">Abonné(s)</button>
	</div>

</div>

<!-- Display the buttoms of Activities/Badges/Amis -->
<div class="profile-actions">
	<div class="actions-trigger">
		<div class="activities">
			<button (click)="showActivities()" [ngClass]="{'active': activitiesSelected}">Activités</button>
		</div>
		<div class="badges">
			<button (click)="showBadges()" [ngClass]="{'active': badgesSelected}">Badges</button>
		</div>
		<div class="friends">
			<button (click)="showFriends()" [ngClass]="{'active': friendsSelected}">Amis</button>
		</div>
	</div>
	<!-- Display the table of Activities -->
	<app-display-activities (change)="refresh($event)" *ngIf="activitiesSelected && user && tableActivites.rows != null" [user]="user"[activities]="tableActivites">
	</app-display-activities>

	<!-- Display subcribers -->
	<app-display-subscribers *ngIf="friendsSelected" [currentUser]="user"(change)="refresh($event)" title="Abonnés" [users]="followersUsers">
	</app-display-subscribers>

	<!-- Display subscriptions -->
	<app-display-subscribers *ngIf="friendsSelected" (change)="refresh($event)" [ngStyle]="{'margin-left': '100px'}"
		title="Abonnements" [users]="followsUsers">
	</app-display-subscribers>

	<!-- Display the badges -->
	<app-display-badges *ngIf="badgesSelected" title="Badges" [badges]="badges"></app-display-badges>
</div>
