.content {
  display:flex;
  padding:15px;
  .profile {
    width: 60vw;
    height:40vh;
    border-radius: 10px;
    background-color: #ececec; 
    display:flex;
    .image {
      img {
        height: 200px;
        margin: 30px;
      }
    }
    .infos {
      display:block;
      .title {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .author {
        margin-bottom: 20px;
      }
    }
  }

.second-part {
  display:flex;
  // .feature {
  //   // TODO
  // }
}
