.sub {
  margin-left: 100px;
}
.welcome {
  font-size: 1.8em;
  margin-bottom: 20px;
  padding: 15px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.content {
  padding: 15px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  // border-radius: 10px;
  background-color: #ececec;


  .profile {
    width: 30%;
    .displayActivites {
      display: flex;
      .user-infos {
        display:block;
        margin-left: 10px;
        font-size: 1.5em;
      }
  
      img {
        height: 100px;
      }
    }

    padding: 20px;
 
    .action {
      margin-top:10px;
      display:block;
      font-size: 0.8em;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.second-part {
  display:flex;
  // .feature {
  //   // TODO
  // }
}

.profile-infos {
  width: 180px;
  text-align: center;
  margin: 30px 30px 30px 100px;
  width: fit-content;

  img {
    border-radius: 100%;
  }

  .subscription {cursor: pointer;
    outline: 0;
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    color: white;
    border-radius: 2px;
    /*width: 180px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #7c0000;*/
  }

  .unsubscription {cursor: pointer;
    outline: 0;
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    color: white;
    border-radius: 2px;
    /*cursor: pointer;
    outline: 0;
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
    border: 1px solid #3e3e3e;
    color: #3e3e3e;
    background-color: lightgray;*/
  }

  .username {
    margin-top: 10px;
    margin-bottom: 10px;
    h3 {
        display: inline-block;
        padding-top: 10px;
        padding-right: 10px;
    }
  }
  .editbutton{
    cursor: pointer;
    outline: 0;
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    color: white;
    border-radius: 2px;
    &.selected {
        background-color:#7c0000;
        color: white;
    }
  }

  .profile-progress {
    position: relative;
    width: 0;
    height: 0;
    margin-top: 10px;
    width: 150px;

    > * {
      position: absolute;
      height: 10px;
      left: 0;
      top: 0;
    }

    .progress-bar {
      border-radius: 2px;
      height: 13px;
      background-color: lightgray;
    }

    .progress {
      border-radius: 2px;
      height: 13px;
      background: #7c0000;
    }
  }
}

.profile-actions {
  display: flex;
  margin: 50px 100px 0;

  button {
    cursor: pointer;
    outline: 0;
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    color: white;
    border-radius: 2px;

    &.active {
        background-color: #7c0000;
        border-color: #7c0000;
    }

  }

  .actions-trigger {
    width: 20%;
  }

  
}
