<!-- <div *ngIf="user" class="welcome">
	Hello {{user.pseudo}} !
</div> -->
<!-- <div *ngIf="user" class="content">
<div class="profile">
	<div class="display">
			<img src="{{user.picture}}" />
			<div class="user-infos">
				{{user.firstName}}
				<br />
				{{user.lastName}}
			</div>
	</div>
	<div class="action" (click)="goToEdition()">
		Edit My Profile
	</div>
</div>
</div> -->
<!-- Display the profile-information -->

<!-- Display the profile-infos -->
<div *ngIf="user" class="profile-infos">
	<img *ngIf="otherUser" height="150px" src="{{user.picture}}" />
	<div class="username">
		<span>{{user.pseudo}}</span>
	</div>

	<!-- Display the profile-progess -->
	<!-- <div class="profile-progress">
	<div class="progress-bar" [ngStyle]="{'width': profileProgress.fullProgress}"></div>
	<div class="progress" [ngStyle]="{'width': profileProgress.userProgress}"></div>
</div> -->

	<div *ngIf="otherUser && !follows" class="subscription" (click)="follow(user)">S'abonner</div>
	<div *ngIf="otherUser && follows" class="unsubscription" (click)="unFollow(user)">Se désabonner</div>

</div>

<!-- Display the buttoms of Activities/Badges/Amis -->
<div class="profile-actions">
	<div class="actions-trigger">
		<div class="activities">
			<button (click)="showActivities()" [ngClass]="{'active': activitiesSelected}">Activités</button>
		</div>
		<div class="badges">
			<button (click)="showBadges()" [ngClass]="{'active': badgesSelected}">Badges</button>
		</div>
		<div class="friends">
			<button (click)="showFriends()" [ngClass]="{'active': friendsSelected}">Amis</button>
		</div>
	</div>
	<!-- Display the table of Activities -->
	<app-display-activities *ngIf="activitiesSelected" [activities]="tableActivites">
	</app-display-activities>

	<!-- Display subcribers -->
	<app-display-subscribers *ngIf="friendsSelected" (change)="refresh($event)" title="Abonnés" [users]="followersUsers">
	</app-display-subscribers>

	<!-- Display subscriptions -->
	<app-display-subscribers *ngIf="friendsSelected" (change)="refresh($event)" [ngStyle]="{'margin-left': '100px'}"
		title="Abonnements" [users]="followsUsers">
	</app-display-subscribers>

	<!-- Display the badges -->
	<app-display-badges *ngIf="badgesSelected" title="Badges" [badges]="badges"></app-display-badges>
</div>