<div class="banner">
	<div class="title">Related Products :</div>
	<div class="navigation" *ngIf="totalPages">
		<div *ngFor="let in of counter(totalPages) ;let i = index">
			<div id="cercle" *ngIf="i !== this.currentPage"></div>
			<div id="cercle2" *ngIf="i === this.currentPage"></div>
		</div>
	</div>

	<br />

	<div class="list" *ngIf="allProducts">
		<div class="navigation-left">
			<img *ngIf="currentIndex > 0" (click)="fetchIndex('left')"
				src="assets/images/white-arrow-right.png">
		</div>
		<div class="item" *ngFor="let asso of fetchList(currentIndex)" [mdePopoverTriggerFor]="commentaires">
<!-- 			(click)="goTo(asso.productDTO.id)"> -->
			<div class="picto">
				<img src="{{getPicto(asso.productDTO.type)}}">
			</div>
			<div class="image">
				<img src="{{asso.productDTO.image}}">
			</div>
			<div class="title2" (mouseover)="getTitle(asso.productDTO)">
				{{asso.productDTO.title}}</div>
		</div>
		<mde-popover #commentaires="mdePopover" [mdePopoverOverlapTrigger]="false"> 
			<mat-card style="max-width: 300px"> 
				<mat-card-content>
					<h1 (click)="goTo(asso.productDTO.id)">{{asso.productDTO.title}} </h1>
<!-- 					<mat-icon matBadge="22" matBadgeColor="accent" color="primary"> favorite </mat-icon> -->
					<br />
					<div class="comments">
						A material design popover component created using Angular version 7
						with the Angular CDK.
						<mat-list> 
							<mat-list-item *ngFor="let comment of comments">
								<mat-icon matListIcon>folder</mat-icon>
								<h3 matLine>{{comment.userName}} : {{comment.subject}}</h3>
								<span class="demo-2" matLine> {{comment.content}} </span>
							</mat-list-item> 
						</mat-list>
					</div>
				</mat-card-content> 
			</mat-card> 
		</mde-popover>

		<!-- <div class="item" *ngFor="let product of fetchList(currentIndex)" (click)="goTo(product.id)">
                        <div class="picto">
                                <img src="{{getPicto(product.type)}}">
                        </div>
                        <div class="image">
                                <img src="{{product.image}}">
                        </div>
                        <div class="title2" (mouseover)="getTitle(product)">
                                {{product.title}}
                        </div>
                </div> -->
		<div class="item add-product">
			<div class="image" (click)="addAssociation()">
				<img src="/assets/images/plus.png">
			</div>
		</div>
		<div class="navigation-right">
			<img *ngIf="currentIndex + 5 < allProducts.length"
				(click)="fetchIndex('right')"
				src="assets/images/white-arrow-right.png">
		</div>
	</div>

</div>