<div class="header-content">
    <img src="/assets/images/logo.png" (click)="goToHomePage()" />
    <app-search-product class="search-field" [productList]="products" (productSelected)="goToProduct($event)"
        (searchValue)="toggleSearchPropositions($event)" (filterSelected)="setFilter($event)"></app-search-product>

    <div class="user-infos" (click)="goToUser()" *ngIf="user">
        <img src="{{user.picture}}" />
        <div *ngIf="user.typeUser === 1 "class="log-out" (click)="goToModo()">
            Modération
        </div>
        <div class="log-out" (click)="disconnect()">
            Déconnexion
        </div>
    </div>

</div>