.header-content {
    display: flex;
    width: 98vw;
    margin: 0 auto;
    img {
        height : 130px;
        margin-left: 5%;
        margin-right: 5%;
        cursor: pointer;
    }
    
    .search-bar {
        margin-top: auto;
        margin-bottom: auto;
        height: 50px;
        width: 60vw;
        display: flex;
        .search-field {
            padding: 15px;
            width: 100%;
        }
    }
    .user-infos {
        cursor: pointer;
        float:right;
        img {
            height: 100px; 
        }
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }

}