.header-content {
    display: flex;
    width: 98vw;
    margin: 0 auto;
    img {
        height : 130px;
        margin-left: 2%;
        margin-right: 5%;
        cursor: pointer;
        border-radius: 100%;
    }
    
    .search-bar {
        margin-top: auto;
        margin-bottom: auto;
        height: 50px;
        width: 60vw;
        display: flex;
        .search-field {
            padding: 15px;
            width: 100%;
        }
    }
    .user-infos {
        cursor: pointer;
        float:right;
        img {
            height: 100px;
            margin-left: 30px; 
        }
        p{
            text-align: center;
            margin-left: 30px; 
        }
       

    }

}