<div class="header-content" >
    <img src="/assets/images/logo.png" (click)="goToHomePage()"/>
    <!-- <div class="search-bar">
        <input #searchInput class="search-field" placeholder="Rechercher..." (keyup.enter)="onType(searchInput.value)"/>
        <button (click)="onType(searchInput.value)">Search</button>
        
    </div> -->
<app-search-product class="search-field" [productList]="products" 
        (productSelected)="goToProduct($event)"
        (searchValue)="toggleSearchPropositions($event)"></app-search-product>

    <div class="user-infos" (click)="goToUser()" *ngIf="user">
        <img src="/assets/images/user.png"/>
        <p></p>
         <p>{{user.firstName}} {{user.lastName}}</p> 
</div>
